@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Oh No! Something Seems To Have Gone Wrong!";
    
}
<div class="row" id="error-view">
    <div class="col-xs-12 text-center">
        <h1>Oh No!</h1>
        <h2>Something Seems to Have Gone Wrong.</h2>
        <img src="~/Content/Images/error.png" class="img-responsive" />
        <p>Not to worry, our technical team are working on getting things back to normal as soon as possible.</p>
        <p>&nbsp;</p>
    </div>
</div>