<div class="row">
    <div class="col-sm-8 col-md-9">
        <h1 class="text-uppercase">
            <strong>Play the game</strong>,<br class="visible-xs-inline" /> Live the Lifestyle
        </h1>
    </div>
    <div class="col-md-3 col-sm-4 text-center">
        @* Html.ActionLink("Sign Up Free", "RegisterFull", "Account", routeValues: null, htmlAttributes: new { Class = "btn btn-primary btn-large btn-spaced text-uppercase" }) *@
        <span class="visible-sm-inline"><br />&nbsp;</span>
    </div>
</div>
<div class="row" id="home-demo">
    <div class="col-md-12">
        <div class="block-one home-block">
            <div class="block-one-layout">
                <div class="left-block ">
                    <div class="carousel-canvas">
                        <div id="homeMainCarousel" class="carousel slide" data-interval="6000">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="contents">
                                        <img src="~/Content/Images/features/Happy-NY-420.jpg" class="visible-xs-inline-block visible-sm-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/Happy-NY-620.jpg" class="visible-md-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/Happy-NY-820.jpg" class="visible-lg-inline-block img-responsive" />
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="contents">
                                        <img src="~/Content/Images/features/mad-mike-420.jpg" class="visible-xs-inline-block visible-sm-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/mad-mike-620.jpg" class="visible-md-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/mad-mike-820.jpg" class="visible-lg-inline-block img-responsive" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="contents">
                                        <img src="~/Content/Images/features/Masters-bubba-420.jpg" class="visible-xs-inline-block visible-sm-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/Masters-bubba-620.jpg" class="visible-md-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/Masters-bubba-820.jpg" class="visible-lg-inline-block img-responsive" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="contents">
                                        <img src="~/Content/Images/features/420-Pure-LP-Player.jpg" class="visible-xs-inline-block visible-sm-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/620-Pure-LP-Player.jpg" class="visible-md-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/820-Pure-LP-Player.jpg" class="visible-lg-inline-block img-responsive" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="contents">
                                        <img src="~/Content/Images/features/Winelands-and-Trail-Ninja-420.jpg" class="visible-xs-inline-block visible-sm-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/Winelands-and-Trail-Ninja-620.jpg" class="visible-md-inline-block img-responsive" />
                                        <img src="~/Content/Images/features/Winelands-and-Trail-Ninja-820.jpg" class="visible-lg-inline-block img-responsive" />
                                    </div>
                                </div>
                                
                            </div>
                            <a class="carousel-control left" href="#homeMainCarousel" data-slide="prev">
                                <span class="circle">
                                    <i class="fa fa-angle-left"></i>
                                </span>
                                <span class="labelled">Previous</span>
                            </a>
                            <a class="carousel-control right" href="#homeMainCarousel" data-slide="next">
                                <span class="labelled">Next</span>
                                <span class="circle">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#homeMainCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#homeMainCarousel" data-slide-to="1"></li>
                                <li data-target="#homeMainCarousel" data-slide-to="2"></li>
                                <li data-target="#homeMainCarousel" data-slide-to="3"></li>
                                <li data-target="#homeMainCarousel" data-slide-to="4"></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="right-block">
                    @*
                        <div class="countdown-block">
                            <div class="text-center">
                                This is sample text placeholder stuff
                            </div>
                            <div id="defaultCountdown" class="countdown-canvas"></div>
                        </div>
                        <div id="game-pad">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-1">1</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-2">2</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-3">3</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-4">4</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-5">5</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-6">6</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-7">7</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-8">8</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-9">9</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-star">*</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad btn-push-me" id="keypad-0">0</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#" class="btn btn-default btn-keypad" id="keypad-hash">#</a>
                                </div>
                            </div>
                        </div>
                    *@
                    <img src="/Content/Images/home-animation5.gif" alt="Play the game!" />
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <br class="hidden-xs" /><br class="hidden-xs" />&nbsp;
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <small class="learn-more topmargin">
            scroll to learn more<br />
            <i class="fa fa-angle-down"></i>
        </small>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h1 class="text-uppercase">How It <strong>Works</strong></h1>
    </div>
</div>
<div class="row" id="how-it-works">
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="how-image">
            <img src="/Content/images/sign-up.png" alt="Sign Up" class="img-responsive" />
        </div>
        <h2>Sign Up</h2>
        <p>
            and become a member to play the game and live the lifestyle!
        </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="how-image">
            <img src="/Content/images/explore.png" alt="Explore" class="img-responsive" />
        </div>
        <h2>Explore</h2>
        <p>
            the coming soon section and add your desired items and once-in-a-lifetime experiences to your VAULT.
        </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="how-image">
            <img src="/Content/images/play.png" alt="outplay" class="img-responsive" />
        </div>
        <h2>Outplay</h2>
        <p>
            When the timer hits zero, the game begins. Members must win the game to unlock the VAULT and get the item at a steal!
        </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="how-image">
            <img src="/Content/images/secure.png" alt="Secure" class="img-responsive" />
        </div>
        <h2>Secure</h2>
        <p>
            The game winner secures the item with a successful purchase.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <br />

        @Html.ActionLink("How To Play", "HowToPlay", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-margined btn-large text-uppercase" })
        <!--Html.ActionLink("Sign Up Free", "RegisterFull", "Account", routeValues: null, htmlAttributes: new { Class = "btn btn-primary btn-margined btn-large text-uppercase" }) -->
    </div>
</div>