@{
    ViewBag.Title = "About Us";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h1 class="text-uppercase">About <strong>Us</strong></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2 class="text-uppercase"><strong>What</strong> We're About</h2>
        <p>
            From the sandy shores of the world’s most exotic beaches, to the summit of Mt. Everest, VAULTLife.com gives you the opportunity to cross items off your bucket list, by mixing the thrill of competition with the satisfaction of a bargain. A simple game where the fastest finger wins and gets you into the VAULT, where you can secure luxury products and truly once-in-a-lifetime experiences at a steal. 
        </p>
        <h2 class="text-uppercase"><strong>How</strong> It All Began</h2>
        <p>
            Having enjoyed the success of publishing an accomplished luxury lifestyle magazine, Mike Eilertsen and his team, in true entrepreneurial fashion, set their sights on a new project. This project would bring the exclusivity of the magazine to audiences who never thought it possible to own the luxurious products, or experience the once in a lifetime events and travels that spread across the magazine’s pages. Thus VAULTLife.com was born, where industry leaders were recruited to create a revolutionary piece of software, procure exclusive products and bring to life the simple game that would change the world of e-Commerce.
        </p>
        <h2 class="text-uppercase"><strong>Who</strong> We Are</h2>
        <p>
            We are unique, creative and diverse individuals who work as a team; inspiring, motivating and applauding each other. We give hi5’s and never give up. There is always room for improvement, even if we have to create the realm in which it exists. 
        </p>
    </div>
</div>