@{
    ViewBag.Title = "Contact Us";
}


<div class="row">
    <div class="col-xs-12 text-center">
        <h1 class="text-uppercase">Contact <strong>Us</strong></h1>
    </div>
</div>
<div class="row contact-info">
    <div class="col-xs-12">
        <h2 class="text-uppercase">Head Office</h2>
        <p>
            Want to connect with VAULTLife.com?<br /><br />
            <table>
                <tr>
                    <td>
                        Membership, login and delivery inquiries.
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        +27 (0) 86 123 63342
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Product descriptions and queries</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><a href="mailto:info@vaultlife.com">info@vaultlife.com</a></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Placing your product in the VAULT </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><a href="mailto:product@vaultlife.com">product@vaultlife.com</a></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Corporate VAULTS and memberships.</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><a href="mailto:corporates@vaultlife.com">corporates@vaultlife.com</a></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Legalities</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><a href="mailto:legal@vaultlife.com">legal@vaultlife.com</a></td>
                </tr>
            </table>
        </p>
    </div>
        <div class="col-sm-2">
            <p><br/><br/>
                <strong>Social Media</strong><br/><br/>
             
                   
                        <a href="https://www.facebook.com/pages/VAULTLife/219318678272025" target="_blank" class="facebook">
                            <img src="~/Content/images/facebook-color.png" alt="Facebook" />
                        </a>
                  
                    
                        <a href="https://twitter.com/VAULTLifeApp" target="_blank" class="twitter">
                            <img src="~/Content/images/twitter-color.png" alt="Twitter" />
                        </a>
                   
                   
                        <a href="http://www.youtube.com/channel/UCmYZ2POkeWrZNPkqoDz3cmQ" target="_blank" class="youtube">
                            <img src="~/Content/images/youtube-color.png" alt="Youtube" />
                        </a>
                    
              
            </p>
        </div>
        <div class="col-xs-12">
            <p>
                <br />
                We appreciate all feedback and suggestions on how we can ensure your experience with VAULTLife.com is one you wont forget!
            </p>
            <h2 class="text-uppercase">Satellite Offices</h2>
            <p>
                <strong>Head office</strong>: The Embassy, 50 Mulbarton Road (Corner William Nicol Drive)  Beverly, Sandton. Johannesburg. South Africa<br />
                <strong>South Africa</strong>: Johannesburg, Western Cape.<br />
                <strong>Africa</strong>: Nigeria, Ghana.<br />
                <strong>USA</strong>: Arizona, Dallas, Houston, Atlanta, Georgia, Chicago, New York, Seattle, Miami, San Antonio, New Orleans, Denver, Jacksonville, Philadelphia, San Diego, Las Vegas, Boston, Charlotte, Dallas,San Francisco, Los Angeles.<br />
                <strong>India</strong>: Mumbai, New Delhi.<br />
                <strong>Canada</strong>: Western Canada, Montreal, Edmonton, Calgary, Vancouver, Moscow,Hong Kong.<br />
                <strong>Australia</strong>: Sydney, Brisbane, Melbourne, Perth.<br />
                <strong>Greece</strong>: Cyprus.<br />
                <strong>United Kingdom</strong>: London.
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                D-U-N-S Number: 539117313
            </p>
        </div>
    </div>


