@{
    ViewBag.Title = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <h1 class="text-center text-uppercase">Frequently Asked <strong>Questions</strong></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse-whatisVL">
                            What is Vault Life?
                        </a>
                    </h4>
                </div>
                <div id="collapse-whatisVL" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            VAULTLife.com is a gamified online VAULT that offers once-in-a-lifetime experiences, at the <em>push of a button</em>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse-becomeamember">
                            How do I become a member?
                        </a>
                    </h4>
                </div>
                <div id="collapse-becomeamember" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            It's simple! Click the 'Sign-up' button on the home page to sign-up for free. It will take you a few seconds to fill in your details and upon logging in, you can immediately start playing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse-upgrade">
                            How do I upgrade my membership and why should I?
                        </a>
                    </h4>
                </div>
                <div id="collapse-upgrade" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            When you are logged in, click the ‘Upgrade’ button and select the membership you would like to upgrade to. Upgrading to a higher membership will allow you to play for more items by having access to a greater selection of products. There are 4 different membership statuses:
                        </p>
                        <ul>
                            <li>Bronze Status: Free.</li>
                            <li>Silver Status: $49.00 per annum</li>
                            <li>Gold Status: $199.00 per annum</li>
                            <li>Platinum Status: $499.00 per annum</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse-itemtype">
                            What is the difference between a world, country and city item?
                        </a>
                    </h4>
                </div>
                <div id="collapse-itemtype" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            When you are logged in, you will be able to see world items, country items and local items in your VAULT.
                        </p>
                        <ul>
                            <li>
                                World items are usually travel related items that originate from a foreign place or outside of your location.
                            </li>
                            <li>
                                Country items are usually items that originate from the country associated with your location.
                            </li>
                            <li>
                                City items are usually items originating from the city in which you reside.
                            </li>
                        </ul>
                        <p>
                            Members will only see items that can be made available to them or items that have relevance to their current location, wherever they are in the world. The Terms and Conditions per item are important to review before making any purchases
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse-whentoplay">
                            How do i know when to play?
                        </a>
                    </h4>
                </div>
                <div id="collapse-whentoplay" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Each day members will receive a notification detailing when items will be going live in ‘My VAULT’. This notification will alert members as to when the items they want to play for are going live. This allows members to ready themselves before the game commences on their cell phone, tablet or PC. Members can edit their communication settings to customize the way they receive notifications.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse-myvault">
                            What is 'My Vault' and why should I fill it?
                        </a>
                    </h4>
                </div>
                <div id="collapse-myvault" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            'My VAULT' comprises the items a member has browsed through and subsequently added to 'My VAULT' in order to play for those items when they go live. This is a vital step as it lets members secure exactly what they want to play for and buy in the VAULT. 'My VAULT' is also customized to each member's wants, needs and interests for a tailored experience on VAULTLife.com every day.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse-loggedon">
                            I am logged on and want to play for a product but can’t, what do I do?
                        </a>
                    </h4>
                </div>
                <div id="collapse-loggedon" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            This item may be in a higher membership status than the one you are currently signed up on. Members can upgrade to a higher membership if they would like to play for more items.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse-forgotpassword">
                            I forgot my password, how can I retrieve it?
                        </a>
                    </h4>
                </div>
                <div id="collapse-forgotpassword" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Go to the member login page and click on ‘Forgot Password’. Type in the email address associated with your membership and follow the instructions sent to your email. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse-internetspeed">
                            Does my internet speed affect my game play?
                        </a>
                    </h4>
                </div>
                <div id="collapse-internetspeed" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            No. Your internet speed will never affect game play. VAULTLife.com measures the fastest times from the exact time each individual’s ‘Buy Now’ button appears on a members screen. This allows us to measure the exact time it takes each member to press the button, giving members an equal chance despite internet speeds or devices used.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-howtoplay">
                            How do I play?
                        </a>
                    </h4>
                </div>
                <div id="collapse-howtoplay" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            VAULTLife.com offers multiple games through which members can secure items. Read the instructions per game below to see how each game works. Members can always visit the practice VAULT to experiment with each game.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-gridofglory">
                            What is the Grid of Glory game?
                        </a>
                    </h4>
                </div>
                <div id="collapse-gridofglory" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The Grid of Glory game involves a countdown before the item goes ‘live’ and is therefore ready to be played for. When the clock hits zero, the key pad becomes active and members are instructed to push a sequence of 3 buttons in order to secure the item. The last button will read ‘Buy Now’. The member with the fastest finger to push the ‘Buy Now’ button will be let into the payment portal. At this point, all other members are locked out of the VAULT and the fastest member has 60 seconds to correctly enter his credit card details to secure the item. If the fastest member does not successfully transact, the item will go live for the second and final time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-speedygenius">
                            What is the Speedy Genius game?
                        </a>
                    </h4>
                </div>
                <div id="collapse-speedygenius" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Speedy Genius game is a series of questions that members must attempt to answer within the shortest period of time. For each incorrect answer, members are penalized with additional time on the clock. The member with the most correct answers in the shortest period of time will be let through the payment portal. At this point, all other members are locked out of the VAULT and the ‘genius’ member must successfully complete the transaction in 60 seconds to secure the item. Failing this means the game recommences, allowing members a second and final chance to 'get into the VAULT'.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-priceplummet">
                            What is the Price Plummet game?
                        </a>
                    </h4>
                </div>
                <div id="collapse-priceplummet" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Items being sold in a Price Plummet game go live at their original retail price, although the price decreases every second for 10 minutes after the game has commenced. Members must anticipate when their competition will click the ‘Buy Now’ button in order to outplay other members. The bravest member who clicks the ‘Buy Now’ button first will be let into the payment portal to buy the item at the price they secured. The member must now successfully transact to secure the item before it goes live for a second and final time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-heist">
                            What is a Heist?
                        </a>
                    </h4>
                </div>
                <div id="collapse-heist" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            A heist involves a group of members playing together as a team to secure an item. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-5minutedeal">
                            What is a 5 Minute Deal?
                        </a>
                    </h4>
                </div>
                <div id="collapse-5minutedeal" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The Five Minute Deal is an additional deal that may be offered to unsuccessful members immediately after selected VAULTLife.com games have commenced. When the Five Minute Deal button appears, members have 5 minutes to purchase the item before the deal expires. In a Five Minute Deal, members may be offered the same item originally played for in the preceding game at a less significant discount. Alternatively, members may be offered items within a similar range to the item they played for. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-onsell">
                            What is the On-Sell?
                        </a>
                    </h4>
                </div>
                <div id="collapse-onsell" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The On-Sell is occasionally offered to game winners who successfully secured an item in a previous game. The On-Sell offers winners the opportunity to pair their previous purchase with an accompanying item at a bargain.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-currency">
                            Can I play for an item if it is in another currency?
                        </a>
                    </h4>
                </div>
                <div id="collapse-currency" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Yes. The current exchange rate on the day will apply.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-receiveproduct">
                            How will i receive my purchased product?
                        </a>
                    </h4>
                </div>
                <div id="collapse-receiveproduct" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                Physical product: your item will be delivered to the delivery address listed on your profile.
                            </li>
                            <li>
                                Voucher: your voucher will be emailed to you.
                            </li>
                            <li>
                                In-store pick up voucher: your in-store voucher will be emailed to you to redeem at the store stipulated in the Terms and Conditions.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
