@{
    ViewBag.Title = "How To Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="how-to-play">
    <div class="row">
        <div class="col-xs-12 text-center text-uppercase">
            <h1 class="spaced">How To <strong>Play</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <video controls preload="none">
                <source src="~/Content/Video/how-to-play-940-v2.webm" type="video/webm">
                <source src="~/Content/Video/how-to-play-940-v2.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
    @*
    <div class="row row-alternate">
        <div class="col-xs-12">
            <div class="play-item">
                <div class="icon-image pull-left">
                    <img src="http://placehold.it/240x220/E8117F/ffffff" />
                </div>
                <h3>
                    Browse items and experiences.
                </h3>
                <p>
                    <strong>Add the items you wish to play for to “ MY VAULT ITEMS”.</strong>
                </p>
                <p>
                    Trust fund paleo deep v, mixtape mustache locavore beard bicycle rights meh swag craft beer. 8-bit actually plaid yr next level. Kogi pop-up Helvetica squid. Vinyl Marfa banjo Banksy selvage chia. Keytar bespoke asymmetrical freegan chambray meggings, before they sold out Carles. Authentic slow-carb Vice next level, Schlitz normcore pickled Pinterest. Street art keytar Carles pour-over.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="play-item">
                <div class="icon-image pull-left">
                    <img src="http://placehold.it/240x220/E8117F/ffffff" />
                </div>
                <h3>
                    Browse items and experiences.
                </h3>
                <p>
                    <strong>Add the items you wish to play for to “ MY VAULT ITEMS”.</strong>
                </p>
                <p>
                    Trust fund paleo deep v, mixtape mustache locavore beard bicycle rights meh swag craft beer. 8-bit actually plaid yr next level. Kogi pop-up Helvetica squid. Vinyl Marfa banjo Banksy selvage chia. Keytar bespoke asymmetrical freegan chambray meggings, before they sold out Carles. Authentic slow-carb Vice next level, Schlitz normcore pickled Pinterest. Street art keytar Carles pour-over.
                </p>
            </div>
        </div>
    </div>
    <div class="row row-alternate">
        <div class="col-xs-12">
            <div class="play-item">
                <div class="icon-image pull-left">
                    <img src="http://placehold.it/240x220/E8117F/ffffff" />
                </div>
                <h3>
                    Browse items and experiences.
                </h3>
                <p>
                    <strong>Add the items you wish to play for to “ MY VAULT ITEMS”.</strong>
                </p>
                <p>
                    Trust fund paleo deep v, mixtape mustache locavore beard bicycle rights meh swag craft beer. 8-bit actually plaid yr next level. Kogi pop-up Helvetica squid. Vinyl Marfa banjo Banksy selvage chia. Keytar bespoke asymmetrical freegan chambray meggings, before they sold out Carles. Authentic slow-carb Vice next level, Schlitz normcore pickled Pinterest. Street art keytar Carles pour-over.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="play-item">
                <div class="icon-image pull-left">
                    <img src="http://placehold.it/240x220/E8117F/ffffff" />
                </div>
                <h3>
                    Browse items and experiences.
                </h3>
                <p>
                    <strong>Add the items you wish to play for to “ MY VAULT ITEMS”.</strong>
                </p>
                <p>
                    Trust fund paleo deep v, mixtape mustache locavore beard bicycle rights meh swag craft beer. 8-bit actually plaid yr next level. Kogi pop-up Helvetica squid. Vinyl Marfa banjo Banksy selvage chia. Keytar bespoke asymmetrical freegan chambray meggings, before they sold out Carles. Authentic slow-carb Vice next level, Schlitz normcore pickled Pinterest. Street art keytar Carles pour-over.
                </p>
            </div>
        </div>
    </div>
    <div class="row row-alternate">
        <div class="col-xs-12">
            <div class="play-item">
                <div class="icon-image pull-left">
                    <img src="http://placehold.it/240x220/E8117F/ffffff" />
                </div>
                <h3>
                    Browse items and experiences.
                </h3>
                <p>
                    <strong>Add the items you wish to play for to “ MY VAULT ITEMS”.</strong>
                </p>
                <p>
                    Trust fund paleo deep v, mixtape mustache locavore beard bicycle rights meh swag craft beer. 8-bit actually plaid yr next level. Kogi pop-up Helvetica squid. Vinyl Marfa banjo Banksy selvage chia. Keytar bespoke asymmetrical freegan chambray meggings, before they sold out Carles. Authentic slow-carb Vice next level, Schlitz normcore pickled Pinterest. Street art keytar Carles pour-over.
                </p>
            </div>
        </div>
    </div>
    *@
    <div class="row">
        <div class="col-xs-12 text-center">
            &nbsp;<br />&nbsp;<br />
            <a href="#" class="btn btn-default btn-spaced btn-large text-uppercase hidden">Play Practice Game</a>
            <br />&nbsp;<br />&nbsp;
        </div>
    </div>
    
</div>
