@{
    ViewBag.Title = "Terms of Use";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h1 class="text-uppercase">Terms of <strong>Use</strong></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ol id="terms">
            <li>
                <h2>WEBSITE TERMS OF USE</h2>
                <p>
                    These Terms ("Terms") govern your use of our website located at <strong>www.vaultlife.com</strong> (“the Website”). By accessing and using the Website, you agree to be bound by the Terms set out in this legal notice. If you do not wish to be bound by these Terms, you may not access, display, use, download, or otherwise copy or distribute Content obtained at the Website.
                </p>
            </li>
            <li>
                <h2>
                    UPDATING OF THESE TERMS
                </h2>
                <p>
                    We may change, modify, add to or remove from portions or the whole of these Terms. Changes to these Terms will become effective when the changes are posted to this Website. We shall notify you of the changes by posting a prominent notice on the Website. Your continued use of the Website following the posting of changes or updates shall be considered notice of your acceptance of these Terms, including any changes or updates. 
                </p>
                <p>
                    You are responsible for familiarising yourself with these terms and conditions as well as any updates hereto.
                </p>
            </li>
            <li>
                <h2>SUPPLIER OF GOODS OR SERVICES DETAILS</h2>
                <ul>
                    <li>
                        3.1	 We are:
                    </li>
                    <li>
                        3.1.1	Navotron (Proprietary) Limited trading as VaultLife, a private limited company by shares duly registered and existing under the laws of the Republic of South Africa registration number: 2012/136127/07;
                    </li>
                    <li>
                        3.1.2	VAT registration number 4830266377;
                    </li>
                    <li>
                        3.1.3	 with its physical address at 50 Mulbarton Road
                        The Embassy Building
                        Fourways
                        Johannesburg
                        Gauteng;
                    </li>
                    <li>
                        3.1.4	Tel 0861 VAULTLIFE;
                    </li>
                    <li>
                        3.1.5	Our place of registration is South Africa; and
                    </li>
                    <li>
                        3.1.6	 We will accept legal service at c/o Badal Attorneys At Law, 1st Floor, 20 Baker street, Rosebank;
                    </li>
                    <li>
                        3.1.7	Our directors and office bearers are: (Mr) M J Eilertsen and C Bretz (America) of all director(s) and company officer(s)) 
                    </li>
                    <li>
                        3.1.8	Our main business is the sale of products and services at significantly discounted prices to our members on a first come, first serve basis;
                    </li>
                    <li>
                        3.2   Our website is <strong>www.vaultlife.com</strong> and its email address is <a href="mailto:info@vaultlife.com">info@vaultlife.com</a>
                    </li>
                </ul>
            </li>
            <li>
                <h2>GOODS OR SERVICES</h2>
                <p>
                    VaultLife supplies luxury and exclusive products and experiences of a desirable, sought after nature to Members at significantly discounted prices. VaultLife offers suppliers an opportunity to market their brands by selling items to Members at significantly discounted rates.
                </p>
            </li>
            <li>
                <h2>TERMS OF USE</h2>
                <ul>
                    <li>
                        5.1	Goods and services offered through this website by Supplier are strictly on an “as is” basis for a price displayed including all costs and fees.
                    </li>
                    <li>
                        5.2	Should you wish to become a Member, click here (Membership Fees and Member Specific Terms and Conditions apply).
                    </li>
                    <li>
                        5.3	Should you wish to become a Supplier, click here (Supplier Specific Terms and Conditions apply). 
                    </li>
                </ul>
            </li>
            <li>
                <h2>PAYMENT</h2>
                <p>
                    Payment can be made online by secure credit card payment (details contained in Member Terms and Conditions and the Member Handbook);
                </p>
            </li>
            <li>
                <h2>COMPLAINTS AND DISPUTES</h2>
                <p>
                    We accept complaints via the "Contact us" (<a href="mailto:info@vaultlife.com">info@vaultlife.com</a> ) service of the website <strong>www.vaultlife.com</strong>. Currently supplier does not subscribe to any alternative dispute resolution code or mechanism.
                </p>
            </li>
            <li>
                <h2>DISPUTES AND DISPUTE RESOLUTION</h2>
                <ul>
                    <li>
                        8.1	Any dispute at any time between us in regard to:
                    </li>
                    <li>
                        8.1.1	any matter arising out of; or
                    </li>
                    <li>
                        8.1.2	 the interpretation of; or
                    </li>
                    <li>
                        8.1.3	 the termination of; or
                    </li>
                    <li>
                        8.1.4	 any matter arising out of the termination of,
                    </li>
                    <li>
                        these Terms and Conditions shall be submitted to and decided by arbitration, which arbitration the Arbitration Foundation of South Africa shall have the jurisdiction and authority to administer and adjudicate in accordance with the said Foundation Rules and the Arbitration Act 42 of 1965,.
                        Any such arbitration shall be held in Sandton, South Africa.

                    </li>
                </ul>
            </li>
            <li>
                <h2>COPYRIGHT AND INTELLECTUAL PROPERTY RIGHTS </h2>
                <ul>
                    <li>
                        9.1	We provide certain information on the Website. Content displayed at the Website is provided by us, our affiliates or subsidiary, or any other third party owners of the content (“Content”). All the proprietary works, and the compilation of the proprietary works, belong to us, our affiliates or subsidiary, or any third party owners of the rights (“Owners”), and the Content is protected by international copyright laws.
                    </li>
                    <li>
                        9.2	We may make any changes to the Website, the Content, or to products or services offered through the Website at any times and without notice to you. All rights in and to the Content is reserved and retained by the Owners. Except as specified in these Terms, you are not granted a license or any other right including under Copyright, Trademark, Patent or other Intellectual Property Rights in or to the Content.
                    </li>
                    <li>
                        9.3	In addition to the aforesaid, all intellectual property rights (including all copyright, patents, trade marks, service marks, trade names, designs (including the "look and feel" and other visual or non-literal elements)) whether registered or unregistered) in the Website and Service, information content on the Website or accessed as part of the Service, any database operated by us and all the website design, text and graphics, software, photos, video, music, sound, and their selection and arrangement, and all software compilations, underlying source code and software (including applets and scripts) shall remain our property (or that of our licensors). You shall not, and shall not attempt to, obtain any title to any such intellectual property rights. All rights are reserved.
                    </li>
                    <li>
                        9.4	None of the material listed in Clause  9.3 may be reproduced or redistributed or copied, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means, sold, rented or sub-licensed, used to create derivative works, or in any way exploited without our prior express written permission. You may, however, retrieve and display the content of the Website on a computer screen, or print one copy of such content for your own personal, non-commercial use, provided you keep intact all and any copyright and proprietary notices. You may not otherwise reproduce, modify, copy or distribute or use for commercial purposes any of the materials or content on the Website without our permission.
                    </li>
                    <li>
                        9.5	All rights (including goodwill and, where relevant, trade marks) in the “VaultLife” name and/ or “Vault” and/ or “Unlock the Lifestyle” are owned by us (or our licensors). Other product and brand names mentioned on the Website are the trademarks or registered trademarks of their respective owners.
                    </li>
                    <li>
                        9.6	Title, ownership rights and intellectual property rights in and to the content accessed using the Service is the property of the applicable content owner or Supplier and/ or Advertiser and may be protected by applicable copyright or other law. The Agreement gives you no rights to such content.
                    </li>
                    <li>
                        9.7	The authors of the literary and artistic works in the pages in the Website have asserted their moral rights to be identified as the author of those works.
                    </li>
                    <li>
                        9.8	Subject to Clause 9.7, any material you transmit or post or submit to the Website (or otherwise to us) shall be considered (and we may treat it as) non-confidential and non-proprietary, subject to our obligations under data protection legislation. If for some reason, any part of that statement does not work as a matter of law, then for anything which you supply to us from whatever source (i.e. via email, the Website or otherwise) you grant us a royalty-free, perpetual, irrevocable, non-exclusive right to use, copy, modify, adapt, translate, publish and distribute world-wide any such material.
                    </li>
                    <li>
                        9.9	All comments, suggestions, ideas, notes, drawings, concepts or other information: (i) disclosed or offered to us by you; or (ii) in response to solicitations by us regarding the Service or the Website; (in each foregoing case, these are called "Ideas") shall be deemed to be and shall remain our property and you hereby assign by way of present and future assignment all intellectual property rights in Ideas, to us. You understand and acknowledge that we have both internal resources and other external resources which may have developed or may in the future develop ideas identical to or similar to Ideas and that we are only willing to consider Ideas on these terms. In any event, any Ideas are not submitted in confidence and we assume no obligation, express or implied by considering it. Without limitation, we shall exclusively own all now known or hereafter existing rights to the Ideas of every kind and nature throughout the world and shall be entitled to unrestricted use of the Ideas for any purpose whatsoever, commercial or otherwise without compensation to the provider of the Ideas.
                    </li>
                </ul>
            </li>
            <li>
                <h2>LIMITED LICENSE TO GENERAL USERS </h2>
                <ul>
                    <li>
                        10.1	We grant you, a non-exclusive, non-transferable, limited and revocable (reversible) right to access, display and use the current and future Content for personal, non-commercial and information purposes only.
                    </li>
                    <li>
                        10.2	This Website and the Content may not be reproduced or otherwise exploited for any commercial purpose without our express prior written consent.
                    </li>
                    <li>
                        10.3	You are not allowed to collect product or service listings, descriptions or other information displayed here, and not allowed any derivative (copied or derived) use of this Website or the Content for the benefit of any other entity.
                    </li>
                    <li>
                        10.4	Any unauthorised use of this content may result in legal proceedings against you or us preventing you from accessing our website.
                    </li>
                    <li>
                        10.5	We and our affiliates or subsidiaries reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders at our sole discretion.
                    </li>
                </ul>
            </li>
            <li>
                <h2>LIMITATION OF LIABILITY </h2>
                <ul>
                    <li>
                        11.1	The Website and all Content on the Website, are provided on an “as is” basis, and may include inaccuracies or typographical errors and we, our, suppliers, employees, directors partners, affiliates, holding companies and agents will not be liable for any damage, or loss or liability of any nature incurred by whoever as a result of any action or omission. We make no warranty or representation as to the availability, accuracy or completeness of the Content, or any third-party content accessible via an Internet link.
                    </li>
                    <li>
                        11.2	We nor any holding company, affiliate or subsidiary of Provider or Owners, will be held responsible for any damage of any kind, related to the use of, or the inability to access or use the Content or the Website or any functionality, or of any linked website to the extent permissible by law.
                    </li>
                </ul>
            </li>
            <li>
                <h2>PRIVACY, ACCESS TO AND USE OF INFORMATION</h2>
                <ul>
                    <li>
                        12.1	We receive various types of information (“Information”) from Users who access the Website, including personal information.
                    </li>
                    <li>
                        12.2	We may electronically collect, store and use Personal Information, including (insert relevant types, eg name, contact details, surfing patterns, email, IP address).
                    </li>
                    <li>
                        12.3	This website may make use of cookies.
                    </li>
                    <li>
                        12.4	Information may be shared and posted to Member’s facebook/ twitter should they elect this option.
                    </li>
                    <li>
                        12.5	It is possible for Internet-based communications to be intercepted and in this regard, we, our holding companies, directors, shareholders, agents and employees accept no liability for any loss resulting from any interception of communication.  
                    </li>
                    <li>
                        12.5.1	Without the use of encryption, the Internet is not a secure medium and privacy cannot be ensured. Internet e-mail is vulnerable to interception and forging. 
                    </li>
                    <li>
                        12.5.2	We shall not be responsible for any damages you or any third party may suffer as a result of the transmission of confidential or disclosed information that you make to the Owners or Provider through the Internet, or that you expressly or implicitly authorise the Owners to make, or for any errors or any changes made to any transmitted information.
                    </li>
                    <li>
                        12.6	To ensure acquaintance with and awareness of our privacy measures and policies you are urged to take care to read and understand the underlying privacy clauses incorporated in these Terms.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    PRIVACY - CASUAL SURFING
                </h2>
                <ul>
                    <li>
                        13.1	You may visit the Website without providing any personal information.
                    </li>
                    <li>
                        13.2	You accordingly grant express written permission for the Website servers in such instances collecting the IP address of the User computer, and the email address or any other distinguishing information.
                    </li>
                    <li>
                        13.3	This information is aggregated to measure the number of visits, average time spent at the Website, pages viewed, etc. 
                    <li>
                        13.4	We use this information to determine use of the Website, and to improve Content.
                    </li>
                    <li>
                        13.5	We assume no obligation to protect this information, and may copy, distribute or otherwise use the information.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    PRIVACY - UNSOLICITED INFORMATION
                </h2>
                <ul>
                    <li>
                        14.1	If you post unsolicited content or other information (“Information”) to the Website and do not indicate otherwise you grant us a:
                        <ul>
                            <li>
                                14.1.1	non-exclusive;
                            </li>
                            <li>
                                14.1.2	royalty-free;
                            </li>
                            <li>
                                14.1.3	perpetual (everlasting);
                            </li>
                            <li>
                                14.1.4	irrevocable (irreversible); and
                            </li>
                            <li>
                                14.1.5	fully sub-licensable,
                                right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and
                                display such Information throughout the world in any media.
                            </li>
                            <li>
                                14.2	You grant to us the right to use the name that you submit in connection with such Information, and warrant:
                            </li>
                            <li>
                                14.2.1	that you own or otherwise control all of the rights to the Information that you post;
                            </li>
                            <li>
                                14.2.2	that the Information is accurate;
                            </li>
                            <li>
                                14.2.3	that by the supply of the Information to us:
                            </li>
                            <li>
                                14.2.4	You do not violate this Policy and do not infringe the rights of any person or entity; and 
                            </li>
                            <li>
                                14.2.5	That you indemnify us for all claims resulting from the receipt by us of the Information you supply to us.
                            </li>
                            <li>
                                14.3	We may monitor and edit or remove any Information, where posted to public pages. We take no responsibility, and assume no liability for any Information posted by you or any third party.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    PRIVACY-SOLICITED INFORMATION YOU GIVE TO US
                </h2>
                <ul>
                    <li>
                        15.1	We requires certain Personal Information necessary to process transactions if the User requires any of Provider’s products or services.
                    </li>
                    <li>
                        15.2	We receive and store all Information, including Personal Information which you enter on the Website or give to us, in any other way. You may choose not to provide certain Personal Information, but that may limit the services or products that you may wish to obtain from us.
                    </li>
                    <li>
                        15.3	Your Information that is required by affiliates and subsidiaries to give effect to transactions that you choose to enter into, is shared with those entities.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    PRIVACY- PROMOTIONAL INFORMATION
                </h2>
                <p>
                    We aspire to provide first-class service to our members, which requires us providing information to you about new services or special offers. In each instance, you are provided an opportunity to opt-out of such information circulars. For more information, please call the Concierge Help Desk, or send an email to <a href="mailto:info@vaultlife.com">info@vaultlife.com</a>.
                </p>
            </li>
            <li>
                <h2>
                   PRIVACY- BUSINESS TRANSFERS
                </h2>
                <p>
                    We may enter into various business arrangements and our customer base is one of the more valued assets. In such an event, customer Information shall be one of the transferable assets.
                </p>
            </li>
            <li>
                <h2>PRIVACY- LAWFUL PURPOSES </h2>
                <p>
                    When we are served with due legal process requiring the delivery of Personal Information, we have the legal duty to abide by that demand, and will do so. We may also impart Personal Information if permitted or required to do so by law.
                </p>
            </li>
            <li>
                <h2>
                   PRIVACY-SURVEYS AND STATISTICAL PROFILES 
                </h2>
                <ul>
                    <li>
                        19.1	We understand that efficiency and customer care translates to good service. We may periodically conduct online customer care surveys to enable the updating of service standards.
                    </li>
                    <li>
                        19.2	When we conduct a survey, we must inform you how the information gathered will be used, and provide you with the opportunity to opt-out from such surveys.
                    </li>
                    <li>
                        19.3	Despite terms to the contrary, we may chose to use Personal Information to compile profiles for statistical purposes and may choose to trade with such profiles and statistical data, as long as the profiles or statistical data cannot be linked to any specific data subject, including you, by a third party.
                    </li>
                </ul>
            </li>
            <li>
                <h2>PRIVACY- STORAGE </h2>
                <ul>
                    <li>
                        20.1	Personal Information will be stored for as long as it is used together with a record of the Personal Information and the specific purposes it was collected for. Personal Information will be destroyed once it has become obsolete.
                    </li>
                    <li>
                        20.2	You agree that we may intercept, block, read, delete, disclose and use all communications sent or otherwise communicated to us, our employees, directors and agents. 
                    </li>
                </ul>
            </li>
            <li>
                <h2>CHOICE OF LAW</h2>
                <ul>
                    <li>
                        21.1	This Website is controlled, operated and administered by Provider from its offices as set out below within the Republic of South Africa.
                    </li>
                    <li>
                        21.2	These Terms will be governed by the laws of the Republic of South Africa.
                    </li>
                    <li>
                        21.3	If any of the provisions of these Terms are found by a court of competent jurisdiction to be invalid or unenforceable, that provision will be enforced to the maximum extent permissible so as to give effect to the intent of these Terms, and the remainder of these Terms will continue in full force.
                    </li>
                    <li>
                        21.4	These Terms constitute the entire agreement between the Provider and a user who is not a Member or Supplier. Members and Suppliers have additional Terms and Conditions.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                   OTHER BUSINESSES
                </h2>
                <ul>
                    <li>
                        Parties other than VaultLife provide services, advertise, or sell items on this site. In addition, we provide links to the sites of affiliated companies and certain other businesses. We are not responsible for examining or evaluating, and we do not warrant the offerings of, any of these businesses or individuals or the content of their Web sites. We do not assume any responsibility or liability for the actions, items, and content of all these and any other third parties. You should carefully review their Terms and Conditions.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    TERMINATION AND SUSPENSION
                </h2>
                <ul>
                    <li>
                        23.1	If you violate any of our Terms and Conditions, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of VaultLife to you. We will notify you by email or at the next time you attempt to access your Membership. You may also delete your Membership at any time. Any of our Terms and Conditions which confer rights upon us (VaultLife) shall, to the extent applicable, survive such termination. 
                    </li>
                    <li>
                        23.2	Upon your request, we will close your account and remove your personal information as soon as reasonably possible, in accordance with applicable law. We do retain personal information from closed accounts to comply with law, prevent fraud, collect any monies owed, resolve disputes, troubleshoot problems, assist with any investigations, enforce our Terms and Conditions, and take other actions otherwise permitted by law.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    INFORMATION THAT IS COLLECTED
                </h2>
                <ul>
                    <li>
                        24.1	We receive data from or about the computer, mobile phone, or other devices you use to access VaultLife, whether by way of our website or app, including when multiple users log in from the same device. This may include network and communication information, such as your IP address or mobile phone number, and other information about things like your internet service, operating system, location, the type (including identifiers) of the device or browser you use, or the pages you visit. For example, we may get your GPS or other location information. We could request device information to improve how our apps work on your device. 
                    </li>
                    <li>
                        24.2	We receive data whenever you visit a game, application, or website that uses the VaultLife Platform or visit a site with a VaultLife feature (such as a social plugin), sometimes through cookies. This may include the date and time you visit the site; the web address, or URL;
                    </li>
                    <li>
                        24.3	technical information about the IP address, browser and the operating system you use;  
                    </li>
                    <li>
                        24.4	Sometimes we get data from our affiliates or our advertising partners, customers and other third parties that helps us (or them) deliver ads, understand online activity, and generally improve VaultLife included but not limited to our ability to measure the effectiveness of and improve the quality of advertisements.

                    </li>
                    <li>
                        24.5	We may offer deals to you in which you might be interested. We may also put together data about you for purposes of Member profiling. 
                    </li>
                    <li>
                        24.6	We only provide data to our Advertisers or Suppliers after we have removed your name and any other personally identifying information from it, or have combined it with other people's data in a way that it no longer personally identifies you.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    IS THE INFORMATION SECURE
                </h2>
                <ul>
                    <li>
                        25.1	CHILDREN’S PRIVACY
                    </li>
                    <li>
                        25.2	We do not sell products for purchase by children or allow children to become Members. We sell children’s products for purchase by adults. If you are under 18 (Eighteen) years old, you may use VaultLife only with the involvement of a parent of guardian.
                    </li>
                    <li>
                        25.3	In the event that we learn that we have collected personal information from a child under the age of 18 (Eighteen) without parental consent, we will delete that information as quickly as possible. If you believe that we might have any information about a child under 18 (Eighteen) years old, please contact us.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    ACCESSING, REVIEWING AND CHANGING PERSONAL INFORMATION
                </h2>
                <ul>
                    <li>
                        Your password is your key to the Vault. Use unique numbers, letters and special characters, and do not disclose your eBay password to anyone. If you do share your password or your personal information with others, remember that you are responsible for all actions taken in the name of your account. If you lose control of your password, you may lose substantial control over your personal information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately notify us and change your password.
                        You can see, review and change most of your personal information by signing on to VaultLife. Generally, we will not manually modify your personal information because it is very difficult to verify your identity remotely. You must promptly update your personal information if it changes or is inaccurate.

                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    LINKS TO AND FROM OTHER WEBSITES
                </h2>
                <ul>
                    <li>
                        Where the Website contains links to third party sites and to resources provided by third parties (together “Other Sites”), those Other Sites are merely linked to provide information only and are solely for your convenience. We have no control over and do not accept and we assume no responsibility for other sites or for the content or products or services of such other sites (including, without limitation, relating to social networking sites such as Facebook or Twitter) and we accept no responsibility for any loss or damage that may arise from your use of the. If you decide to access any of the third party websites linked to the website, you do so entirely at your own risk. Please be aware that these other sites may have different security and privacy policies and we have no control over and take no responsibility for any information submitted to these other sites.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    PROHIBITED ACTIVITIES
                </h2>
                <ul>
                    <li>
                        28.1	In addition to the other restrictions outlined in various Terms and Conditions  you agree that you shall not:
                    </li>
                    <li>
                        28.2	Use VaultLife for any purpose that is illegal, beyond the scope of their intended use, or otherwise prohibited by us;
                        Use the Services in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying VaultLife, or that could damage, disable, overburden or impair the functioning of VaultLife in any manner;
                        Compromise the security of the Services;
                        Send any unsolicited or unauthorized advertising, spam, solicitations or promotional materials;

                    </li>
                    <li>
                        28.3	Use any robot, spider, crawler, scraper or other automated means or interface not provided by us to access VaultLife or to extract data;
                    </li>
                    <li>
                        28.4	Reverse engineer any aspect of VaultLife or do anything that might discover source code or bypass or circumvent measures employed to prevent or limit access to any area, content or code of the Services;
                    </li>
                    <li>
                        28.5	Use or attempt to use another Member’s  account without authorisation;
                        Attempt to circumvent any content filtering techniques we employ, or attempt to access areas/features of VaultLife that you are not authorized to access;

                    </li>
                    <li>
                        28.6	Attempt to indicate in any manner that you have a relationship or association with us or that we have endorsed you or any products or services without our express written consent to do so;
                    </li>
                    <li>
                        28.7	Impersonate any person or entity or otherwise misrepresents your affiliation with a person or entity;
                    </li>
                    <li>
                        28.8	Violate the publicity, privacy or data protection rights of others;
                    </li>
                    <li>
                        28.9	Infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party;
                    </li>
                    <li>
                        28.10	Buy, sell, rent, lease, or otherwise offer in exchange for any compensation, access to your Membership account;
                    </li>
                    <li>
                        28.11	Develop any third-party applications that interact with VaultLife without our prior written consent; and
                    </li>
                    <li>
                        28.12	Use VaultLife for any illegal or unauthorized purpose or engage in, encourage, or promote any activity that violates our Terms and Conditions.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    CONTACT DETAILS  
                </h2>
                <ul>
                    <li>
                        In the event that you need to contact us for purposes related to these Terms and Conditions, please use the following:<br />       
                    </li>
                    <li>
                       29.1  <strong>Telephone</strong>: 086 123 MEDIA (63342) <br />
                    </li>
                    <li>
                        29.2  <strong>Fax</strong>: 086 123 MEDIA (63342) <br />
                    </li>
                    <li>
                        29.3 <strong>Email</strong>: <a href="mailto:info@vaultlife.com">info@vaultlife.com</a>
                    </li>
                    <li>
                        29.4	© [INSERT NAME OF WEBSITE OWNER];
                    </li>
                    <li>
                        29.5	[INSERT DATE];
                    </li>
                </ul>

            </li>
</ol>
    </div>
</div>

