@model IEnumerable<Vaultlife.ViewModels.MyVaultItemViewModel>

@{
    ViewBag.Title = "My Vault Items";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center text-uppercase">My <strong>Vault Items</strong></h1>
    </div>
</div>
<div class="row">
    <div class="upcoming-vault-items col-xs-12">
        @if (Model.Count() == 0)
{
     <div class="col-xs-12">
        <h1 class="text-center text-uppercase"><strong>YOU HAVE NO VAULT ITEMS YET!</strong></h1>
        <h2 class="text-center">Browse our amazing selection and add items that you wish to play for to your vault.
You can check back here to see a list of the items that you have added.</h2>
    </div>
            <br />
    <img src="~/Content/Images/my-vault-empty-icon.png" class="img-responsive"/><br />
            <br />
    <div class="row">
    <div class="col-xs-12 text-center topmargin25">
        <a href="../../Home/#browse-items" class=" btn btn-default btn-large text-uppercase">Browse Items</a>
    </div>
</div>
  
}
       
        @foreach (var item in Model)
        {

            string src = "";

            if (item.Product.Imagedetails.Count() > 0)
            {
                src = String.Format("/Image?imageId={0}", item.Product.Imagedetails.First().ImageID);

             
            }
           

            string hrefToAddOrRemoveFromWatchlist = "";
            if (!item.IsInMyWatchList)
            {
                hrefToAddOrRemoveFromWatchlist = "AddToWatchList/?GameID=" + item.Game.GameID + "&FromWhere=watchlist";
            }
            else
            {
                hrefToAddOrRemoveFromWatchlist = "RemoveFromWatchList/?GameID=" + item.Game.GameID + "&FromWhere=watchlist";
            }

            <a class="product" href="../../Product/DetailsComingSoon/@item.Game.GameID">
                <div class="product-image" style="background-image: url(@src);"></div>
                <div class="product-info">
                    <div class="unlocks-in">This item unlocks on</div>
                    <div class="date">@item.GameScheduleStart.ToString("dd MMM yyyy")</div>
                  
                </div>
            </a>

        }
    </div>
</div>

