quartz.scheduler.instanceName = RuleScheduler
quartz.threadPool.threadCount = 10
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.dataSource = vlDS

quartz.dataSource.vlDS.connectionString = data source=vl-sql-stage.cloudapp.net,1433;initial catalog=VaultLifeStage;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True
quartz.dataSource.vlDS.provider = SqlServer-20