<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>


  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--PROD
    <add name="DefaultConnection" connectionString="data source=vl-sql-prod.cloudapp.net,14330;initial catalog=VaultLifeProd;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VaultLifeApplicationEntities" connectionString="metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=VaultLifeApplication;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFrameworkTimeout=30;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
-->
    <!--DEV
    <add name="DefaultConnection" connectionString="data source=VL-SQLSTD-SRVEU.cloudapp.net,51433;initial catalog=VaultLifeApplication3;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VaultLifeApplicationEntities" connectionString="metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VL-SQLSTD-SRVEU.cloudapp.net,51433;initial catalog=VaultLifeApplication3;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFramework;Timeout=30;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
 -->

    <!--//STAGE -->
    <!-- <add name="DefaultConnection" connectionString="data source=vl-sql-stage.cloudapp.net,1433;initial catalog=VaultLifeStage;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VaultLifeApplicationEntities" connectionString="metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vl-sql-stage.cloudapp.net,1433;initial catalog=VaultLifeStage;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFramework;Timeout=30;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
-->
    <!--LOCAL -->
    <add name="DefaultConnection" connectionString="data source=.\SQL2012Tabular;initial catalog=VaultLifeApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VaultLifeApplicationEntities" connectionString="metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2012Tabular;initial catalog=VaultLifeApplication;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
      <add name="VaultLifeApplicationEntities" connectionString="metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vl-sql-prod.cloudapp.net,14330;initial catalog=VaultLifeProd;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFrameworkTimeout=30;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultApplication" connectionString="DefaultApplication_ConnectionString" providerName="System.Data.SqlClient" />
-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EnableSSL" value="0" />
    <!--Localhost FB settings -->
    <!--<add key="fbAppId" value="1502431309995279"/>
    <add key="fbAppSecret" value="132135ef559bd4d27aa166b50c00953e"/> -->
    <!-- vl-Dev FB settings -->
    <add key="fbAppId" value="1510378389200571" />
    <add key="fbAppSecret" value="12930d7b3fe45f1a69e77dae6186a746" />
    <!-- Production FB settings -->
    <!--add key="fbAppId" value="1479624412275969"/>
    <add key="fbAppSecret" value="fc65a1fc95fb849a51e7291abcbdbe2a"/>-->


  </appSettings>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="1048576" />
  </system.web>
  <system.web>
    <customErrors mode="Off" />
    <!--<globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"></globalization> -->
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="info@vaultlife.com">
        <!--<network host="mail.dialectyx.com" port="25" userName="sanket@dialectyx.com" password="sanket123" defaultCredentials="false" />
        <network host="localhost" port="25" userName="RTG24281" password="RTG24281" defaultCredentials="false"  />-->
        <!--<network host="winjitpdc" port="25" userName="rahulm" password="winjit@13" defaultCredentials="false"/>-->
        <network host="smtp.gmail.com" port="587" userName="vaultlife201408@gmail.com" password="v@ultl1f3" defaultCredentials="false" />
        <!--P@55w0rd1nf0-->
        <!--<network host="mail,google.com" port="587" userName="rahul.winjit@gmail.com" password="937391211624281A" defaultCredentials="false"/>-->
        <!--<network host="smtp.gmail.com" port="587" userName="rahul.winjit@gmail.com" password="937391211624281A" defaultCredentials="false" />-->
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <!--!DONT PUT THIS SHIT BACK! IT SCREWS THE WEBSERVICES!-->
    <!--<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers> -->
    <rewrite>
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="Off" />
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$|^post$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Vaultlife.Services.GameSessionServiceRESTBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Vaultlife.Services.GameSessionServiceBehavior">
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="true" policyVersion="Policy15" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Vaultlife.Services.GameSessionService" behaviorConfiguration="Vaultlife.Services.GameSessionServiceBehavior">
        <endpoint name="GameSessionSoapEndpoint" address="soap" binding="basicHttpsBinding" contract="Vaultlife.Services.IGameSessionService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint name="GameSessionServiceRESTEndpoint" address="rest" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" contract="Vaultlife.Services.IGameSessionService" behaviorConfiguration="Vaultlife.Services.GameSessionServiceRESTBehavior" />
      </service>
    </services>
  </system.serviceModel>
</configuration>