<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vl-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vl-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vl-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vl-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VaultLifeApplicationEntities" Order="2" Enabled="False">
          <Destination Path="VL-SQLSTD-SRV01.cloudapp.net" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Vaultlife.Models.VaultLifeApplicationEntities, Vaultlife" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="VL-SQLSTD-SRV01.cloudapp.net" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Vaultlife.Models.ApplicationDbContext, Vaultlife" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>VL-SQLSTD-SRV01.cloudapp.net</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VaultLifeApplicationEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=VL-SQLSTD-SRV01.cloudapp.net</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>