<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
  <!--  <add name="DefaultConnection" connectionString="data source=vl-sql-prod.cloudapp.net,14330;initial catalog=VaultLifeProd;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VaultLifeApplicationEntities" connectionString="metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=VaultLifeApplication;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFrameworkTimeout=30;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
-->
    <!--
    <add name="DefaultConnection" connectionString="data source=VL-SQLSTD-SRVEU.cloudapp.net,51433;initial catalog=VaultLifeApplication3;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VaultLifeApplicationEntities" connectionString="metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VL-SQLSTD-SRVEU.cloudapp.net,51433;initial catalog=VaultLifeApplication3;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFramework;Timeout=30;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
-->
    <add name="DefaultConnection" connectionString="data source=.\SQL2012Tabular;initial catalog=VaultLifeApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VaultLifeApplicationEntities" connectionString="metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2012Tabular;initial catalog=VaultLifeApplication;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--  <add name="VaultLifeApplicationEntities" connectionString="metadata=res://*/Models.VaultLifeApp.csdl|res://*/Models.VaultLifeApp.ssdl|res://*/Models.VaultLifeApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vl-sql-prod.cloudapp.net,14330;initial catalog=VaultLifeProd;User ID=SQLWeb;Password=Fl1pFl0p;MultipleActiveResultSets=True;App=EntityFrameworkTimeout=30;Max Pool Size=200&quot;" providerName="System.Data.EntityClient" />
-->

  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <appSettings>
    <add key="webpages:Enabled" value="false" />
    <add key="UserName" value="vlAdmin" />
    <add key="Password" value="v@u1t7ife" />
  </appSettings>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>