<div class="grey-bar" id="featured-brands">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="text-uppercase">Featured <strong>Brands</strong></h2>
                <div class="brands">
                    <div class="brand-item">
                        <img src="~/Content/Images/featured-brands/aston-martin-sandton.png" alt="Aston Martin Sandton" />
                    </div>
                    <div class="brand-item">
                        <img src="~/Content/Images/featured-brands/camelot-spa.png" alt="Camelot Spa" />
                    </div>
                    <div class="brand-item">
                        <img src="~/Content/Images/featured-brands/cruises-international.png" alt="Cruises International" />
                    </div>
                    <div class="brand-item">
                        <img src="~/Content/Images/featured-brands/ftv.png" alt="FTV" />
                    </div>
                    <div class="brand-item">
                        <img src="~/Content/Images/featured-brands/jaguar.png" alt="Jaguar" />
                    </div>
                    <div class="brand-item">
                        <img src="~/Content/Images/featured-brands/my-rhino.png" alt="My Rhino" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>