        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Company</strong>
                                <ul class="footer-nav">
                                    <li>
                                        @Html.ActionLink("About Us", "Home/About")
                                    </li>
                                    <li class="hidden">
                                        <a href="#">Careers</a>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Contact Us", "Home/Contact")
                                    </li>
                                    <li class="hidden">
                                        <a href="#">Latest News</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="#">Community</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="#">Brand A-Z</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <strong>Learn More</strong>
                                <ul class="footer-nav">
                                    <li class="hidden">
                                        <a href="#">Help Center</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="#">Account</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="#">Track Order</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="#">Wishlist</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="#">Returns &amp; Exchanges</a>
                                    </li>
                                    <li class="hidden">
                                        <a href="#">Gift Cards</a>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Terms of Use", "Home/TermsOfUse")
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="credit-cards">
                            <li title="Visa Electron">
                                <img src="~/Content/images/visa-electron.png" alt="Visa Electron" />
                            </li>
                            <li title="Visa">
                                <img src="~/Content/images/visa.png" alt="Visa" />
                            </li>
                            <li title="MasterCard">
                                <img src="~/Content/images/mastercard.png" alt="MasterCard" />
                            </li>
                            <li title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
                                <script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.vaultlife.com&amp;size=S&amp;lang=en"></script><br />
                                <a href="http://www.geotrust.com/ssl/" target="_blank" style="color:white; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <div class="hidden">
                            <strong>As Seen On</strong>
                            <ul class="as-seen-on">
                                <li>
                                    <a href="#">&nbsp;</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                </li>
                                <li>
                                    <a href="#">&nbsp;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <strong>Social Media</strong>
                        <ul class="social-media">
                            <li>
                                <a href="https://www.facebook.com/pages/VAULTLife/219318678272025" target="_blank" class="facebook">
                                    <img src="~/Content/images/facebook-color.png" alt="Facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/VAULTLifeApp" target="_blank" class="twitter">
                                    <img src="~/Content/images/twitter-color.png" alt="Twitter" />
                                </a>
                            </li>
                            <li>
                                <a href="http://www.youtube.com/channel/UCmYZ2POkeWrZNPkqoDz3cmQ" target="_blank" class="youtube">
                                    <img src="~/Content/images/youtube-color.png" alt="Youtube" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>